In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
census_data = pd.read_excel('./data/census+data.xlsx', header=4, usecols='B:O', skiprows=[0,1])

In [3]:
census_data

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,65-69,1757,953,804,586,195,391,1171,758,413
3128,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,70-74,1193,691,502,419,140,279,774,551,223
3129,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,75-79,645,343,302,234,80,154,411,263,148
3130,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,80+,616,287,329,264,68,196,352,219,133
3131,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,188,94,94,36,11,25,152,83,69

In [4]:
census_data = census_data.rename(columns={'Unnamed: 3':'State','Unnamed: 1':'State Code','Unnamed: 2':'Distt. Code','Unnamed: 4':'Demography', 'Unnamed: 5':'Age Groups'})

In [5]:
census_data.rename(columns={'Unnamed: 6':'Total Persons','Unnamed: 7':'Males','Unnamed: 8':'Females','Unnamed: 9':'Illiterate Total', 'Unnamed: 10':'Illiterate Males'}, inplace=True)

In [6]:
census_data.rename(columns={'Unnamed: 6':'Total Persons','Unnamed: 13':'Literate Males','Unnamed: 14':'Literate Females','Unnamed: 12':'Literate Total', 'Unnamed: 11':'Illiterate Females'}, inplace=True)

In [7]:
census_data['Age Groups']

0             All ages
1                  0-6
2                    7
3                    8
4                    9
             ...
3127             65-69
3128             70-74
3129             75-79
3130               80+
3131    Age not stated
Name: Age Groups, Length: 3132, dtype: object

In [8]:
total_persons_aged_7_and_above = census_data[(census_data['State'] == 'INDIA') & (census_data['Demography'] == 'Total') &
    (census_data['Age Groups'] != 'All ages') & (census_data['Age Groups'] != '0-6')]['Total Persons'].sum()

In [9]:
763638812/total_persons_aged_7_and_above

0.7298191920695921

In [2]:
census_data = pd.read_excel('./data/census+data.xlsx', header=4, skiprows=lambda x: x in range(0,2))

In [10]:
census_data

,State Code,Distt. Code,State,Demography,Age Groups,Total Persons,Males,Females,Illiterate Total,Illiterate Males,Illiterate Females,Literate Total,Literate Males,Literate Females
0,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3127,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,65-69,1757,953,804,586,195,391,1171,758,413
3128,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,70-74,1193,691,502,419,140,279,774,551,223
3129,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,75-79,645,343,302,234,80,154,411,263,148
3130,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,80+,616,287,329,264,68,196,352,219,133
3131,35,0,State - ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,188,94,94,36,11,25,152,83,69

In [3]:
census_data = pd.read_excel('./data/EDA_census.xlsx', header=4, usecols='B:O', skiprows=lambda x: x in range(0,2))

In [5]:
census_data = census_data.rename(columns={'Unnamed: 3':'State','Unnamed: 1':'State Code','Unnamed: 2':'Distt. Code',
                                          'Unnamed: 4':'Demography', 'Unnamed: 5':'Age Groups', 
                                          'Unnamed: 6':'Total Persons','Unnamed: 7':'Males','Unnamed: 8':'Females',
                                          'Unnamed: 9':'Illiterate Total', 'Unnamed: 10':'Illiterate Males',
                                          'Unnamed: 13':'Literate Males','Unnamed: 14':'Literate Females',
                                          'Unnamed: 12':'Literate Total', 'Unnamed: 11':'Illiterate Females'})
census_data.head()

,State Code,Distt. Code,State,Demography,Age Groups,Total Persons,Males,Females,Illiterate Total,Illiterate Males,Illiterate Females,Literate Total,Literate Males,Literate Females
0,0,0,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190
1,0,0,INDIA,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0
2,0,0,INDIA,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745
3,0,0,INDIA,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764
4,0,0,INDIA,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088

In [11]:
age_groupby = census_data.groupby(['Age Groups'])

age_groupby.mean()['Illiterate Females']/age_groupby.mean()['Females']

Age Groups
7                 0.281762
8                 0.164079
9                 0.115397
10                0.124001
11                0.089923
12                0.098510
13                0.087016
14                0.097604
15                0.117053
16                0.121201
17                0.117391
18                0.169725
19                0.164081
0-6               1.000000
20-24             0.226831
25-29             0.301022
30-34             0.370982
35-39             0.438740
40-44             0.491559
45-49             0.532211
50-54             0.560630
55-59             0.608244
60-64             0.683722
65-69             0.716803
70-74             0.753229
75-79             0.731881
80+               0.738339
Age not stated    0.437000
All ages          0.440293
dtype: float64

In [11]:
age_groupby.mean()['Literate Total']/age_groupby.mean()['Total Persons']

Age Groups
7                 0.728187
8                 0.846805
9                 0.893620
10                0.886931
11                0.919628
12                0.914212
13                0.925436
14                0.916828
15                0.899613
16                0.897834
17                0.903926
18                0.866659
19                0.876376
0-6               0.000000
20-24             0.832357
25-29             0.776811
30-34             0.725384
35-39             0.672740
40-44             0.629934
45-49             0.597586
50-54             0.575657
55-59             0.548305
60-64             0.469265
65-69             0.439440
70-74             0.397745
75-79             0.419313
80+               0.389632
Age not stated    0.645594
All ages          0.630661
dtype: float64

In [12]:
state_groupby = census_data.groupby(['State'])

state_groupby.mean()

,State Code,Distt. Code,Total Persons,Males,Females,Illiterate Total,Illiterate Males,Illiterate Females,Literate Total,Literate Males,Literate Females
State,,,,,,,,,,,
INDIA,0.0,0.0,5.567149e+07,2.865610e+07,2.701539e+07,2.056166e+07,8.666972e+06,1.189469e+07,3.510983e+07,1.998913e+07,1.512070e+07
State - ANDAMAN & NICOBAR ISLANDS,35.0,0.0,1.749798e+04,9.327402e+03,8.170575e+03,3.967816e+03,1.769839e+03,2.197977e+03,1.353016e+04,7.557563e+03,5.972598e+03
State - ANDHRA PRADESH,28.0,0.0,3.888771e+06,1.951363e+06,1.937408e+06,1.564323e+06,6.524553e+05,9.118673e+05,2.324449e+06,1.298908e+06,1.025541e+06
State - ARUNACHAL PRADESH,12.0,0.0,6.361963e+04,3.282354e+04,3.079609e+04,2.840101e+04,1.259972e+04,1.580129e+04,3.521862e+04,2.022382e+04,1.499480e+04
State - ASSAM,18.0,0.0,1.434739e+06,7.328480e+05,7.018912e+05,5.529931e+05,2.469335e+05,3.060595e+05,8.817461e+05,4.859144e+05,3.958316e+05
State - BIHAR,10.0,0.0,4.786182e+06,2.495547e+06,2.290634e+06,2.372179e+06,1.042305e+06,1.329874e+06,2.414002e+06,1.453242e+06,9.607600e+05
State - CHANDIGARH,4.0,0.0,4.852644e+04,2.669715e+04,2.182929e+04,1.149480e+04,5.301931e+03,6.192874e+03,3.703163e+04,2.139522e+04,1.563641e+04
State - CHHATTISGARH,22.0,0.0,1.174492e+06,5.900182e+05,5.844737e+05,4.673690e+05,1.850576e+05,2.823114e+05,7.071229e+05,4.049606e+05,3.021623e+05
State - DADRA & NAGAR HAVELI,26.0,0.0,1.580271e+04,8.908506e+03,6.894207e+03,5.539264e+03,2.355816e+03,3.183448e+03,1.026345e+04,6.552690e+03,3.710759e+03
State - DAMAN & DIU,25.0,0.0,1.118377e+04,6.910391e+03,4.273379e+03,2.521425e+03,1.179678e+03,1.341747e+03,8.662345e+03,5.730713e+03,2.931632e+03
State - GOA,30.0,0.0,6.705954e+04,3.398345e+04,3.307609e+04,1.347393e+04,5.669747e+03,7.804184e+03,5.358561e+04,2.831370e+04,2.527191e+04
State - GUJARAT,24.0,0.0,2.778836e+06,1.447874e+06,1.330962e+06,8.894866e+05,3.685695e+05,5.209171e+05,1.889350e+06,1.079305e+06,8.100453e+05
State - HARYANA,6.0,0.0,1.165584e+06,6.204475e+05,5.451369e+05,4.024126e+05,1.701456e+05,2.322670e+05,7.631719e+05,4.503019e+05,3.128699e+05
State - HIMACHAL PRADESH,2.0,0.0,3.156139e+05,1.600861e+05,1.555278e+05,8.390189e+04,3.353025e+04,5.037163e+04,2.317120e+05,1.265559e+05,1.051561e+05
State - JAMMU & KASHMIR,1.0,0.0,5.766116e+05,3.053178e+05,2.712938e+05,2.516813e+05,1.092410e+05,1.424404e+05,3.249303e+05,1.960768e+05,1.288534e+05
State - JHARKHAND,20.0,0.0,1.516696e+06,7.784053e+05,7.382905e+05,6.740260e+05,2.780596e+05,3.959664e+05,8.426698e+05,5.003457e+05,3.423241e+05
State - KARNATAKA,29.0,0.0,2.808979e+06,1.423754e+06,1.385225e+06,9.401368e+05,3.888821e+05,5.512547e+05,1.868842e+06,1.034872e+06,8.339702e+05
State - KERALA,32.0,0.0,1.535911e+06,7.368925e+05,7.990183e+05,2.423097e+05,1.067820e+05,1.355277e+05,1.293601e+06,6.301105e+05,6.634906e+05
State - LAKSHADWEEP,31.0,0.0,2.964276e+03,1.522897e+03,1.441379e+03,5.480460e+02,2.344828e+02,3.135632e+02,2.416230e+03,1.288414e+03,1.127816e+03
State - MADHYA PRADESH,23.0,0.0,3.339164e+06,1.729301e+06,1.609862e+06,1.368995e+06,5.718611e+05,7.971339e+05,1.970169e+06,1.157440e+06,8.127283e+05
State - MAHARASHTRA,27.0,0.0,5.166636e+06,2.677842e+06,2.488794e+06,1.417013e+06,5.970332e+05,8.199803e+05,3.749623e+06,2.080808e+06,1.668814e+06
State - MANIPUR,14.0,0.0,1.313009e+05,6.614189e+04,6.515899e+04,4.355485e+04,1.833232e+04,2.522253e+04,8.774602e+04,4.780956e+04,3.993646e+04
State - MEGHALAYA,17.0,0.0,1.364087e+05,6.858998e+04,6.781871e+04,5.433949e+04,2.657255e+04,2.776694e+04,8.206920e+04,4.201743e+04,4.005177e+04
State - MIZORAM,15.0,0.0,5.044625e+04,2.553283e+04,2.491343e+04,1.144970e+04,5.370575e+03,6.079126e+03,3.899655e+04,2.016225e+04,1.883430e+04
State - NAGALAND,13.0,0.0,9.096561e+04,4.711030e+04,4.385531e+04,2.924451e+04,1.382492e+04,1.541959e+04,6.172110e+04,3.328538e+04,2.843572e+04
State - NCT OF DELHI,7.0,0.0,7.718594e+05,4.132104e+05,3.586490e+05,1.862149e+05,8.241241e+04,1.038025e+05,5.856445e+05,3.307980e+05,2.548465e+05
State - ODISHA,21.0,0.0,1.929849e+06,9.752706e+05,9.545785e+05,7.003045e+05,2.814922e+05,4.188123e+05,1.229545e+06,6.937784e+05,5.357662e+05
State - PUDUCHERRY,34.0,0.0,5.737715e+04,2.816143e+04,2.921572e+04,1.336294e+04,5.293471e+03,8.069471e+03,4.401421e+04,2.286795e+04,2.114625e+04
State - PUNJAB,3.0,0.0,1.275556e+06,6.730789e+05,6.024769e+05,4.154575e+05,1.932602e+05,2.221973e+05,8.600983e+05,4.798187e+05,3.802796e+05
State - RAJASTHAN,8.0,0.0,3.151652e+06,1.634529e+06,1.517124e+06,1.391869e+06,5.454062e+05,8.464630e+05,1.759783e+06,1.089122e+06,6.706607e+05
State - SIKKIM,11.0,0.0,2.807251e+04,1.485379e+04,1.321871e+04,7.614943e+03,3.301195e+03,4.313747e+03,2.045756e+04,1.155260e+04,8.904966e+03
State - TAMIL NADU,33.0,0.0,3.317105e+06,1.661516e+06,1.655589e+06,9.337712e+05,3.722981e+05,5.614731e+05,2.383334e+06,1.289218e+06,1.094116e+06
State - TRIPURA,16.0,0.0,1.689157e+05,8.617821e+04,8.273752e+04,3.996018e+04,1.714975e+04,2.281044e+04,1.289555e+05,6.902846e+04,5.992708e+04
State - UTTAR PRADESH,9.0,0.0,9.186774e+06,4.803702e+06,4.383073e+06,3.927117e+06,1.666462e+06,2.260655e+06,5.259658e+06,3.137240e+06,2.122418e+06
State - UTTARAKHAND,5.0,0.0,4.637376e+05,2.362194e+05,2.275181e+05,1.473719e+05,5.857770e+04,8.879421e+04,3.163657e+05,1.776417e+05,1.387239e+05
State - WEST BENGAL,19.0,0.0,4.196603e+06,2.152139e+06,2.044464e+06,1.367257e+06,5.972514e+05,7.700054e+05,2.829346e+06,1.554888e+06,1.274458e+06

In [13]:
state_groupby.mean()['Literate Females']/state_groupby.mean()['Females']

State
INDIA                                0.559707
State - ANDAMAN & NICOBAR ISLANDS    0.730989
State - ANDHRA PRADESH               0.529337
State - ARUNACHAL PRADESH            0.486906
State - ASSAM                        0.563950
State - BIHAR                        0.419430
State - CHANDIGARH                   0.716304
State - CHHATTISGARH                 0.516982
State - DADRA & NAGAR HAVELI         0.538243
State - DAMAN & DIU                  0.686022
State - GOA                          0.764054
State - GUJARAT                      0.608616
State - HARYANA                      0.573929
State - HIMACHAL PRADESH             0.676125
State - JAMMU & KASHMIR              0.474959
State - JHARKHAND                    0.463671
State - KARNATAKA                    0.602047
State - KERALA                       0.830382
State - LAKSHADWEEP                  0.782456
State - MADHYA PRADESH               0.504843
State - MAHARASHTRA                  0.670531
State - MANIPUR                      0.612908
State - MEGHALAYA                    0.590571
State - MIZORAM                      0.755990
State - NAGALAND                     0.648399
State - NCT OF DELHI                 0.710574
State - ODISHA                       0.561259
State - PUDUCHERRY                   0.723797
State - PUNJAB                       0.631194
State - RAJASTHAN                    0.442061
State - SIKKIM                       0.673664
State - TAMIL NADU                   0.660862
State - TRIPURA                      0.724304
State - UTTAR PRADESH                0.484231
State - UTTARAKHAND                  0.609727
State - WEST BENGAL                  0.623371
dtype: float64

In [17]:
state_groupby.mean()['Literate Total']/state_groupby.mean()['Total Persons']

State
INDIA                                0.630661
State - ANDAMAN & NICOBAR ISLANDS    0.773241
State - ANDHRA PRADESH               0.597733
State - ARUNACHAL PRADESH            0.553581
State - ASSAM                        0.614569
State - BIHAR                        0.504369
State - CHANDIGARH                   0.763123
State - CHHATTISGARH                 0.602067
State - DADRA & NAGAR HAVELI         0.649474
State - DAMAN & DIU                  0.774546
State - GOA                          0.799075
State - GUJARAT                      0.679907
State - HARYANA                      0.654755
State - HIMACHAL PRADESH             0.734163
State - JAMMU & KASHMIR              0.563517
State - JHARKHAND                    0.555596
State - KARNATAKA                    0.665310
State - KERALA                       0.842237
State - LAKSHADWEEP                  0.815116
State - MADHYA PRADESH               0.590019
State - MAHARASHTRA                  0.725738
State - MANIPUR                      0.668282
State - MEGHALAYA                    0.601642
State - MIZORAM                      0.773032
State - NAGALAND                     0.678510
State - NCT OF DELHI                 0.758745
State - ODISHA                       0.637120
State - PUDUCHERRY                   0.767103
State - PUNJAB                       0.674293
State - RAJASTHAN                    0.558368
State - SIKKIM                       0.728740
State - TAMIL NADU                   0.718498
State - TRIPURA                      0.763431
State - UTTAR PRADESH                0.572525
State - UTTARAKHAND                  0.682208
State - WEST BENGAL                  0.674199
dtype: float64