In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
currencies = pd.read_csv('./data/currencies.csv')

currencies.head()

,Currency,Chinese Yuan,Euro,Japanese Yen,U.K. Pound Sterling,U.S. Dollar,Algerian Dinar,Australian Dollar,Bahrain Dinar,Botswana Pula,...,South African Rand,Sri Lanka Rupee,Swedish Krona,Swiss Franc,Thai Baht,Trinidad And Tobago Dollar,Tunisian Dinar,U.A.E. Dirham,Peso Uruguayo,Bolivar Fuerte
0,"July 01, 2016",9.29446,1.25367,143.645,1.05054,1.39596,NaN,1.87126,0.524882,NaN,...,20.3528,202.763,11.8246,1.36009,NaN,9.28428,3.06035,5.12668,NaN,13.9247
1,"July 05, 2016",9.31515,1.25322,142.715,1.06143,1.39684,154.063,1.85825,0.525213,15.2162,...,20.6240,202.886,11.7627,1.35689,49.0655,9.26724,NaN,5.12992,42.9026,13.9335
2,"July 06, 2016",9.31697,1.25834,140.540,1.07300,1.39286,154.094,1.87313,0.523717,15.2392,...,20.7232,NaN,11.8805,1.36208,49.0692,9.25643,NaN,5.11527,42.6425,13.8938
3,"July 07, 2016",9.31315,1.25737,140.640,1.06911,1.39316,153.957,1.85236,0.523829,15.1430,...,20.4288,202.351,11.9192,1.36098,49.0295,NaN,NaN,5.11637,42.4176,13.8968
4,"July 08, 2016",9.31350,1.25797,140.510,1.07261,1.39257,154.062,1.85974,0.523607,15.1202,...,20.6063,202.271,11.9327,1.36472,49.0408,9.26432,NaN,5.11423,42.2060,13.8909

In [3]:
currencies.corr()['Indian Rupee']

Chinese Yuan                  0.304050
Euro                          0.243851
Japanese Yen                 -0.270123
U.K. Pound Sterling           0.314681
U.S. Dollar                   0.872862
Algerian Dinar                0.923232
Australian Dollar             0.921475
Bahrain Dinar                 0.873195
Botswana Pula                 0.930798
Brazilian Real               -0.056475
Brunei Dollar                 0.798249
Canadian Dollar               0.304291
Chilean Peso                  0.751085
Czech Koruna                  0.611994
Danish Krone                  0.282445
Hungarian Forint              0.754688
Icelandic Krona               0.825889
Indian Rupee                  1.000000
Israeli New Sheqel            0.518196
Kazakhstani Tenge            -0.074799
Kuwaiti Dinar                 0.931099
Libyan Dinar                       NaN
Malaysian Ringgit             0.840498
Mauritian Rupee               0.835943
Mexican Peso                  0.657036
Nepalese Rupee                0.897655
New Zealand Dollar            0.444635
Norwegian Krone              -0.019682
Rial Omani                    0.873151
Pakistani Rupee               0.991673
Nuevo Sol                     0.877833
Philippine Peso              -0.057445
Polish Zloty                  0.474792
Qatar Riyal                   0.873075
Russian Ruble                 0.790276
Saudi Arabian Riyal           0.873101
Singapore Dollar              0.798249
South African Rand            0.897567
Sri Lanka Rupee               0.872443
Swedish Krona                -0.186991
Swiss Franc                  -0.655866
Thai Baht                     0.868087
Trinidad And Tobago Dollar   -0.186861
Tunisian Dinar               -0.618041
U.A.E. Dirham                 0.872859
Peso Uruguayo                 0.758479
Bolivar Fuerte                0.873170
Name: Indian Rupee, dtype: float64

In [7]:
currencies.corr()['Japanese Yen']

Chinese Yuan                  0.117566
Euro                         -0.645719
Japanese Yen                  1.000000
U.K. Pound Sterling          -0.970308
U.S. Dollar                   0.210295
Algerian Dinar               -0.388099
Australian Dollar            -0.582032
Bahrain Dinar                 0.209957
Botswana Pula                -0.627015
Brazilian Real               -0.641122
Brunei Dollar                -0.260258
Canadian Dollar              -0.662233
Chilean Peso                 -0.809751
Czech Koruna                 -0.629068
Danish Krone                 -0.668736
Hungarian Forint             -0.572344
Icelandic Krona              -0.834549
Indian Rupee                 -0.270123
Israeli New Sheqel           -0.798265
Kazakhstani Tenge             0.610230
Kuwaiti Dinar                 0.376778
Libyan Dinar                       NaN
Malaysian Ringgit            -0.602250
Mauritian Rupee               0.167648
Mexican Peso                 -0.497609
Nepalese Rupee               -0.602069
New Zealand Dollar            0.008359
Norwegian Krone              -0.818583
Rial Omani                    0.209915
Pakistani Rupee               0.977676
Nuevo Sol                    -0.149566
Philippine Peso               0.717931
Polish Zloty                 -0.806694
Qatar Riyal                   0.210217
Russian Ruble                -0.774645
Saudi Arabian Riyal           0.209975
Singapore Dollar             -0.260258
South African Rand           -0.629790
Sri Lanka Rupee               0.216936
Swedish Krona                -0.484786
Swiss Franc                   0.209928
Thai Baht                    -0.458043
Trinidad And Tobago Dollar    0.952893
Tunisian Dinar               -0.147436
U.A.E. Dirham                 0.210296
Peso Uruguayo                -0.513065
Bolivar Fuerte                0.210351
Name: Japanese Yen, dtype: float64

In [8]:
currencies.corr()['Chinese Yuan']

Chinese Yuan                  1.000000
Euro                          0.151596
Japanese Yen                  0.117566
U.K. Pound Sterling           0.108695
U.S. Dollar                   0.291582
Algerian Dinar                0.815216
Australian Dollar             0.077983
Bahrain Dinar                 0.291926
Botswana Pula                 0.467693
Brazilian Real                0.320508
Brunei Dollar                 0.499400
Canadian Dollar              -0.186643
Chilean Peso                  0.028821
Czech Koruna                 -0.000742
Danish Krone                  0.190088
Hungarian Forint              0.092517
Icelandic Krona              -0.094406
Indian Rupee                  0.304050
Israeli New Sheqel            0.442994
Kazakhstani Tenge            -0.349278
Kuwaiti Dinar                 0.051050
Libyan Dinar                       NaN
Malaysian Ringgit             0.235758
Mauritian Rupee               0.273543
Mexican Peso                  0.585242
Nepalese Rupee               -0.048039
New Zealand Dollar            0.158424
Norwegian Krone               0.011336
Rial Omani                    0.291726
Pakistani Rupee               0.808891
Nuevo Sol                     0.690147
Philippine Peso               0.161906
Polish Zloty                  0.415765
Qatar Riyal                   0.291630
Russian Ruble                 0.184050
Saudi Arabian Riyal           0.291155
Singapore Dollar              0.499400
South African Rand            0.356889
Sri Lanka Rupee               0.296118
Swedish Krona                -0.044773
Swiss Franc                  -0.069368
Thai Baht                     0.585148
Trinidad And Tobago Dollar    0.215925
Tunisian Dinar                0.542852
U.A.E. Dirham                 0.291300
Peso Uruguayo                 0.421574
Bolivar Fuerte                0.292168
Name: Chinese Yuan, dtype: float64