In [2]:
a = ['Rajeev', 'Veena', 'Ira']

In [10]:
b = a[:]
a

['Badgujar', 'Veena', 'Ira']

In [11]:
print(id(a))
print(id(b))

140422685842880
140422685326208

In [7]:
a[0] = 'Badgujar'

In [8]:
print(b)

['Badgujar', 'Veena', 'Ira']

In [9]:
print(a)

['Badgujar', 'Veena', 'Ira']

In [16]:
a = 3
b = 10

print (b % a)

print (a // b)

input_str = "I love Python programming"

print(input_str[7:13])
print(input_str[-18:-12])

input_list=['SAS', 'R', 'PYTHON', 'SPSS'] 
# Write code to remove 'SPSS'
input_list.remove('SPSS')b
# Write code to append 'SPARK'
input_list.append('SPARK')
print(input_list[0:3])


input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

input_list[2][0]
b

word = ['1','2','3','4']

word[ : ] = [ ] 
print(word)

1
0
Python
Python
['SAS', 'R', 'PYTHON']
[]

In [26]:
import ast,sys
input_list = ['ast.literal_eval(input_str)', 'str', 'ss', 'dd']


#Write your code here
cube = list(filter(lambda y: y, list(map(lambda x: x[0].lower() == 's', input_list))))
print(len(cube))
b
print(sum(map(lambda x: x[0].lower() == 's', input_list)))

2
2

In [3]:
l =  ['hdjk', 'salsap', 'sherpa']
for x in l:
    print(x[0] + x[-1])
    if (x[0].lower() == 's' and x[-1].lower() == 'p'):
        print(x)

hk
sp
salsap
sa

In [5]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [6]:
l = [1,2,3,4,5]

print(list(map(lambda x: x**2, l)))

[1, 4, 9, 16, 25]

In [10]:
# Import the reduce() function
from functools import reduce

# Write your code here
output = reduce(lambda x, y: 1 if x == 0 else x*y, range(6))
print(output)

120